<html>
<head>
 {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Victor Lopes">
  <meta name="description" content="My personal website.">  
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
  </script>
  <link href="/api/personalsite/static/style.css" rel="stylesheet" type="text/css">  
  <link rel="icon" type="image/png" sizes="16x16"  href="static/images/favicon-me.png">
 <title>{% block title %}{% endblock %}Victor Personal Site</title>
 {% endblock %}
</head>
<body style="background-color: black;">
 {% block body %}
    <div align="center">
    <div class="page-wrapper">
      <div align="left">
        <div class="header">
          {% block page_image %}{% endblock %}          
          <div class="ascii-art">
            <pre>
                ,,                                       gp                         ,,                   
`7MMF'   `7MF'  db             mm                        \/              .M"""bgd   db    mm             
  `MA     ,V                   MM                        `'             ,MI    "Y         MM             
   VM:   ,V   `7MM   ,p6"bo  mmMMmm   ,pW"Wq.  `7Mb,od8     ,pP"Ybd     `MMb.     `7MM  mmMMmm   .gP"Ya  
    MM.  M'     MM  6M'  OO    MM    6W'   `Wb   MM' "'     8I   `"       `YMMNq.   MM    MM    ,M'   Yb 
    `MM A'      MM  8M         MM    8M     M8   MM         `YMMMa.     .     `MM   MM    MM    8M"""""" 
     :MM;       MM  YM.    ,   MM    YA.   ,A9   MM         L.   I8     Mb     dM   MM    MM    YM.    , 
       VF      .JMML. YMbmd'    `Mbmo  `Ybmd9'  .JMML.       M9mmmP'     P"Ybmmd"  .JMML.  `Mbmo  `Mbmmd'             </pre>
          </div>
          <div id="catchphrase" align="left">
            <marquee behavior="alternate" scrolldelay=200>
              <pre>


                                                                                                                                                                                                ,,                                 
`7MM"""Mq.                                                  mm        `7MM"""Yb.                           `7MM"""Mq.                                                  mm        MMP""MM""YMM   db                              OO 
  MM   `MM.                                                 MM          MM    `Yb.                           MM   `MM.                                                 MM        P'   MM   `7                                   88 
  MM   ,M9 `7Mb,od8  .gP"Ya  ,pP"Ybd  .gP"Ya  `7MMpMMMb.  mmMMmm        MM     `Mb  ,6"Yb.  `7M'   `MF'      MM   ,M9 `7Mb,od8  .gP"Ya  ,pP"Ybd  .gP"Ya  `7MMpMMMb.  mmMMmm           MM      `7MM  `7MMpMMMb.pMMMb.   .gP"Ya   || 
  MMmmdM9    MM' "' ,M'   Yb 8I   `" ,M'   Yb   MM    MM    MM          MM      MM 8)   MM    VA   ,V        MMmmdM9    MM' "' ,M'   Yb 8I   `" ,M'   Yb   MM    MM    MM             MM        MM    MM    MM    MM  ,M'   Yb  || 
  MM         MM     8M"""""" `YMMMa. 8M""""""   MM    MM    MM          MM     ,MP  ,pm9MM     VA ,V         MM         MM     8M"""""" `YMMMa. 8M""""""   MM    MM    MM             MM        MM    MM    MM    MM  8M""""""  `' 
  MM         MM     YM.    , L.   I8 YM.    ,   MM    MM    MM          MM    ,dP' 8M   MM      VVV          MM         MM     YM.    , L.   I8 YM.    ,   MM    MM    MM             MM        MM    MM    MM    MM  YM.    ,  ,, 
.JMML.     .JMML.    `Mbmmd' M9mmmP'  `Mbmmd' .JMML  JMML.  `Mbmo     .JMMmmmdP'   `Moo9^Yo.    ,V         .JMML.     .JMML.    `Mbmmd' M9mmmP'  `Mbmmd' .JMML  JMML.  `Mbmo        .JMML.    .JMML..JMML  JMML  JMML. `Mbmmd'  db 
                                                                                               ,V                                                                                                                                  
                                                                                            OOb"                                                                                                                                   
              
      </pre>
            </marquee>
          </div>
          <div class="netscape-catchphrase-bottom-margin">&nbsp;</div>
          {% block message %}{% endblock %}
          <div class="navigation">
            {% block page_navigation %}
            {% endblock %}            
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="main">
           {% block page_content %}{% endblock %}
        </div>
        <div class="songplayer">
            {% if song.nowplaying %}
              <img class='spin' src={{song.image}}/>          
              <p style="color:#FFE81F;">Ouvindo exatamente agora:</p>
            {% else %}
              <img src={{song.image}}/>        
              <p style="color:#2f9e44; text-align: center;">Última música escutada:</p>
            {% endif %} 
            <a style="color:#2f9e44;" href={{song.url}} target='_blank'>
              <p style="text-align: center;">{{ song.name }} - {{song.artista}}</p>
            </a>
              <div class="infoSong">
                <p >Artista da Semana: {{artistaSemana.name}}</p>
                <p>Top track da semana: {{toptrack.name}}</p>
                <p>Total de Scrobbles: {{scrobbles}}</p>
              </div>            
        </div>
      </div>
    </div>
  </div>
 {% endblock %}
</body>
</html>

{% block scripts %}
{% endblock %}